section {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

@media (min-width: 576px) {
  section {
    height: 225px;
  }
}

@media (min-width: 768px) {
  section {
    height: 315px;
  }
}

@media (min-width: 992px) {
  section {
    height: 435px;
  }
}

@media (min-width: 1200px) {
  section {
    height: 512px;
  }
}
